body {
    background-color: #37383a;
    font-family: Calibri, sans-serif;
}

#jumbo {
    background-color: #1f2021;
    border-radius: 5px;
    padding-top: 2px;
    text-align: center;
    color: white;
}

.subContainer{
    border: 1px solid #3f4042;
    border-radius: 5px;
    background-color: #1f2021;
    color: white;
}

.jumpBTN {
    text-align: center;
    margin-top: -10px;
}

footer {
    color: black;
}